@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
} */